*{
    margin:0px;
    padding:0px;
    max-width:1920px;
    box-sizing: border-box;
}
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/* header section style */
header{
    background-color: rgba(255, 144, 14, 0.1);
    width:100%;
    /* margin: 0px auto; */
    margin-bottom:85px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width:1440px;
    margin:0 auto;
    margin-bottom: 102px;
}
.brand{
    font-size: 45px;
    color:#131313;
    margin-top:20px;
}
nav .menu{
    display:flex;
    gap:30px;
    list-style-type: none;
    margin-top:20px;
}
nav .menu a{
    text-decoration: none;
    font-size:18px;
    line-height: 26px;
    color:#424242;
    font-weight: 500;
}

/* banner related styles */
.banner-parent{
    max-width: 1440px;
    margin:0 auto;
}
.banner-content{
    max-width:862px;
    margin: 0 auto;
    text-align: center;
}
.banner-heading{
    font-size: 64px;
    color:#131313;
    margin-bottom: 20px;
}
.banner-para{
    font-size: 16px;
    line-height: 26px;
    color:#727272;
    margin-bottom: 32px;
}
.btn{
    background-color: #FF900E;
    color:#FFFFFF;
    padding:20px 24px;
    border:none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom:50px;
}

/* team section styles */
.team-parent{
    max-width:1245px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    gap:73px;
}
.team-content{
    max-width: 537px;
}
.team-image{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px;
    border-radius: 8px;
    margin-bottom: 130px;
}
.team-heading{
    font-size: 45px;
    margin-bottom:24px;
}
.team-heading .color-gray{
    color:#727272;
    font-weight:500;
}
.color-black{
    color:#131313;
}
.color-orange{
    color:#FF900E;
}
.team-para{
    font-size:16px;
    line-height: 26px;
    color:#727272;
    margin-bottom: 32px;
}

/* features section */
.features-parent{
max-width: 1440px;
margin:0 auto;
display:flex;
gap:145px;
margin-bottom:150px;
}
#heading-border{
    border-left: 5px solid #FF900E;
    padding-left:24px;
}
.features-heading{
    font-size: 45px;
    color:#131313;
    margin-bottom:24px;
}
.features-para{
    /* margin-bottom:30px; */
    font-size:16px;
    line-height: 26px;
    color:#727272;
    max-width:586px;
}
.features-card{
    max-width: 586px;
    gap:20px;
    border-radius: 8px;
    padding:30px;
    box-shadow:0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-card .card-heading{
font-size:20px;
font-weight: 600;
color:#131313;
/* padding:30px; */
margin-bottom:10px;
}
.card-para{
    font-size:16px;
    line-height: 26px;
    color:#727272;
}
#experience-badge{
    padding:45px 42px;
    font-size: 25px;
    font-weight:500px;
    /* line-height: 40px; */
    margin-left:-92px;
    margin-top:-77px;
}
#years{
    font-size: 65px;
}

/* some facts section */
.fact-parent{
    max-width: 1440px;
    margin:0 auto;
}
.fact-heading{
    font-size: 45px;
    color:#131313;
    margin-bottom:24px;
}
.fact-para{
    font-size:16px;
    line-height: 26px;
    color:#727272;
    margin-bottom:100px;
}
.card-parent{
    display:flex;
    gap:124px;
    max-width:1340px;
    margin-bottom:180px;
    margin-left:30px;
    
}
.facts-card{
    border:1px solid #FF900E;
    border-radius: 8px;
    padding:52px 36px;
    text-align: center;
    width:241px;
}
.facts-card img{
    max-width:45px;
    margin-bottom:5px;
}

/* sponsor section */
.sponsor-parent{
    max-width:1440px;
    margin:0 auto;
    text-align: center;
}
.sponsor-heading{
    font-size: 45px;
    color:#131313;
    margin-bottom: 24px;
}
.sponsor-para{
    margin-bottom:50px;
}
.sponsor-image{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:155px;
    margin-bottom:130px;
    filter: grayscale();
}

/* footer section */
.footer{
    max-width:1440px;
    margin:0 auto;
    text-align:center;
    margin-bottom: 215px;
    background-color: #FFF4E7;
    border-radius: 8px;
}
.footer-para{
    font-size: 20px;
    color:#424242;
    padding:39px 410px;
}
#hide{
    display:none;
}

/* responsive for mobile device */
@media screen and (max-width:576px){
nav, .team-parent, .features-parent, .card-parent{
    flex-direction: column;
    width:100%;
    margin: 0;
}
.banner-heading{
    font-size: 54px;
}
.banner-para{
    font-size: 15px;
}
.banner-img{
    width:100%;
}

/* team section responsive */
.team-image{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap:24px;
    /* width:100%; */
    margin-bottom: 20px;
}
.team-heading{
    font-size: 40px;
    padding:10px;
    margin-bottom:10px;
}
.team-para{
    font-size: 15px;
    padding:10px;
    margin-bottom:20px;
}
.btn{
margin-left:10px;
}

/* features section responsive */
#heading-border{
    margin-left: 10px;
}
.features-para{
    font-size:15px;
    padding:10px;
}
.features-image{
    width:100%;
    /* max-width:576px; */
}
#experience-badge{
    padding:24px 32px;
    font-size: 25px;
    font-weight:500px;
    /* line-height: 40px; */
    margin-left:5px;
    margin-top:-77px;
}
#years{
    font-size:32px;
}


/* some fact section */
.fact-parent{
    width:100%;
}
.fact-heading{
    font-size:40px;
    margin-left:10px;
}
.fact-para{
    font-size: 14px;
    margin-left: 10px;
    margin-bottom:60px;
}
.card-parent{
    gap:50px;
}
.facts-card{
    width:100%;
    padding:38px 26px;
    margin-bottom:50px;
}

/* our sponsor section */
.sponsor-heading{
    font-size: 42px;
    margin-bottom: 18px;
}
.sponsor-para{
    margin-bottom:35px;
}
.sponsor-image{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap:30px;
    width:100%;
    /* margin-left:10px; */
}

/* footer section responsive */
.footer{
    margin-bottom:70px;
}
.footer-para{
    padding:20px 18px;
}
}